
 <!-- Site footer -->
  <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h6>A propos</h6>
              <p class="text-justify">Projet Rush réalisé dans le cadre de la Web@académie. En groupe de 3.
  
              </p>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6> Les Categories</h6>
              <ul class="footer-links">
                <li><a href="/Spotify_Rush/VIEW/album.php">Les albums</a></li>
                <li><a href="/Spotify_Rush/VIEW/search.php">La recherche</a></li>
                <li><a href="/Spotify_Rush/VIEW/artist.php">Les artistes</a></li>
                <li><a href="/Spotify_Rush/VIEW/genre.php">Les genres</a></li>
              </ul>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Lien rapide</h6>
              <ul class="footer-links">
                <li><a href="/about/">Notre github</a></li>
                <li><a href="/contact/">Notre école</a></li>
                <li><a href="/privacy-policy/">Privacy Policy</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by Valentin, Adrian, Nahéma.
              </p>
            </div>
        </div>
  </footer>
   
</body>
</html>